
/*-------------------------Body Elements----------------------------------------------------------*/
html { 
	background:url("../images/carbon3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	max-width:850px;
	max-height:2500px;
	margin: 0 auto;
	background-color:#fff;
	border:.352941% solid #666;
	border-radius:1.176471%;
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
	padding:1.176471%;
	overflow:auto;
	font:100%;
}

ol li{
	display:block;
	padding:1.176471%;
	margin:0 auto;
	width:46.470588%;
	float:left;
	font-family:'Roboto Condensed', sans-serif;
}

.about p{
	margin: 0 20px;
	-moz-column-count:3;
	-moz-column-gap:0.2941176%;
	column-count:3;
	column-gap:0.2941176%;
	font-family:'Roboto Condensed', sans-serif;
}

h1{
	text-shadow: 2px 2px 2px #111;
	font-family:'Roboto Condensed', sans-serif;
}

h2, h3, h4{
	font-family:'Roboto Condensed', sans-serif;
}

blockquote{
	font-family:'Roboto Condensed', sans-serif;
	font-size:40px;
}

/* -------------------------------Nav Elements--------------------------------------------------- */

#navigation{
	width:850px;
	margin: 0 auto;
	background:black;
	list-style-type:none;
	padding:0;
	overflow:hidden;
	font-size:1.250em;
	border:11.7647% solid black;
	text-decoration:none;
	height:3.125em;
	line-height:1.250em;
	text-align:center;
	color:29abe2;
	background:black;
	font-family:'Roboto Condensed', sans-serif;
	float:left;
	display:block;
}

#navigation li{
	width:9.375em;
	float:left;
}

a:hover{
	background:white;
}
a:visted{
	color:purple;
}

a:active{
	color:aqua;
}

/*--------------------------------Image Gallery----------------------------------------------------------*/
#gallery img{
	margin:5.88235% none;
	list-style-type:none;
	width:94.11765%;
}

#gallery li{
	float:left;
	overflow:hidden;
	padding:5px;
	clear:auto;
	width:9.375em;
}

#gallery a{
	width:20px;
	border:solid;
	display:block;
	height:20px;
	outline:0;
}
#gallery a:hover{
	color:white;	
}

aside{
	float:right;
}
/* -------------------------------Button Elements------------------------------------------------ */

/* -------------------------------Email Elements------------------------------------------------ */
/* =Media Queries
============================================================ */

/* Tablet Portrait size to standard 960 (device and browsers)*/
@media screen and (min-width:768px) and (max-width:959px){
	
	.portfolio{
		width:auto;
		float:none;
	}
	
	.list-nav{
		overflow:none;
		float:none;
		overflow:none;
	}
	
	.about{
		float:none;
	}
	
}
/* Mobile Landscape size to Tablet Portrait (device and browsers)*/
@media screen and (min-width:480px) and (max-width:767px){
	
	.portfolio{
		width:auto;
		float:none;
	}
	
	.list-nav{
		overflow:none;
		float:none;
		overflow:none;
	}
	
	.about{
		float:none;
	}
}
/* Mobile Portrait Size size to Mobile Landscape (device and browsers)*/
@media screen and (max-width:479px){
	
	.portfolio{
		width:auto;
		float:none;
}
	.list-nav{
		overflow:none;
		float:none;
		overflow:none;
	}
	.about{
		float:none;
	}
}
